<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloBean" class="com.mkyong.core.HelloWorld">
		<property name="name" value="Mkyong" />
	</bean>
	
	<bean id="csvOutputGenerator" class="com.mkyong.core.serviceImpl.CsvOutputGenerator">
	</bean>
	
	<bean id="jsonOutputGenerator" class="com.mkyong.core.serviceImpl.JsonOutputGenerator">
	</bean>

<bean id="outputGenerator" class="com.mkyong.core.service.OutputGeneratorHelper">
	<property name="outputGenerator" ref="csvOutputGenerator"></property>
	</bean>
	
	<bean id="customerServiceBean" class="com.mkyong.core.model.CustomerService">
	<property name="name" value="Utkarsh"></property>
	<property name="url" value="http://url-utkarsh"></property>
	</bean>
	
	<!-- <bean id="adviceBeforeMethod" class= "com.mkyong.core.advice.AdviceBeforeMethod">
	</bean>
	
	<bean id="adviceAfterMethod" class= "com.mkyong.core.advice.AdviceAfterMethod">
	</bean>
	
	<bean id="afterThrowingAdvice" class= "com.mkyong.core.advice.AfterThrowingAdvice">
	</bean> -->
	
	<bean id="aroundAdvice" class= "com.mkyong.core.advice.AroundAdvice">
	</bean>
	
	<bean id="customerServiceBeanProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="customerServiceBean"></property>
		<property name="interceptorNames">
			<list>
			<!-- 	<value>adviceBeforeMethod</value>
				<value>adviceAfterMethod</value>
				<value>afterThrowingAdvice</value> -->
				<value>aroundAdvice</value>
			</list>
		</property>
	</bean>
</beans>
